.projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.projectsItems {
  display: flex;
  justify-content: center;
  transition: transform .2s;
  padding: 1rem;
}

.projectsItems:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1150px) {
  .projectsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 760px) {
  .projectsContainer {
    grid-template-columns: 1fr;
  }
}