.devicons {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.devItem {
  display: grid;
}

.devItem p {
  font-size: 1.1rem;
  margin-top: 0;
  font-weight: 500;
}

.devItem i {
  font-size: 7rem;
  padding: 1rem;
}