.devicon {
  display: inline-flex;
  align-items: center;
}

.devicon i {
  font-size: 7rem;
  padding: 1rem;
}

.devicon p {
  font-size: 1.1rem;
  margin-top: 0;
  font-weight: 500;
}

.devText {
  display: grid;
}